<div class="well jumbotron">
    <div ng-if="loginInProcess==true">logging in, please wait...</div>
    <div ng-hide="loginInProcess">
        <h2>Don't use sensitive passwords. SSL is not enabled.</h2>
        <form name="loginForm" ng-submit="doLogin()" novalidate>
            <h2>Login</h2>
            <gb-model-state form="loginForm" datamodel="loginFormModel" key="Username"></gb-model-state>
            <gb-model-state form="loginForm" datamodel="loginFormModel" key="Password"></gb-model-state>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Log In</button>
            </div>
        </form>
    </div>
</div>