<div class="jumbotron well">
    <div ng-if="registerInProcess==true">registering, please wait...</div>
    <div>
        <form name="registerForm" ng-submit="doRegister()" novalidate>
            <gb-model-state form="registerForm" datamodel="registerFormModel" key="Email"></gb-model-state>
            <gb-model-state form="registerForm" datamodel="registerFormModel" key="Username"></gb-model-state>
            <gb-model-state form="registerForm" datamodel="registerFormModel" key="Password"></gb-model-state>
            <gb-model-state form="registerForm" datamodel="registerFormModel" key="ConfirmPassword"></gb-model-state>
            <div class="form-group" ng-if="!registerInProcess">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </form>
    </div>
</div>